<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.kokoa.together.mapper.userInfo.UserInfoMapper">
	<!-- select 쿼리문쓸때 반드시 resultMap를 설정해줘야함. primary key=id로 설정 아닌것은 result로 
		설정 -->
	<!-- resultMap type=은 dto 위치 id=별칭! -->

	<resultMap id="user_info"
		type="com.kokoa.together.userInfo.DTO.UserInfoDTO">
		<id column="u_id" property="UId" />
		<result column="u_pwd" property="UPwd" />
		<result column="u_name" property="UName" />
		<result column="u_mail" property="UMail" />
		<result column="u_img" property="UImg" />
		<result column="u_postaddr" property="UPostAddr" />
		<result column="u_roadaddr" property="URoadAddr" />
		<result column="u_detailaddr" property="UDetailAddr" />
		<result column="u_birth" property="UBirth" />
		<result column="u_gen" property="UGen" />
		<result column="u_tel" property="UTel" />
	</resultMap>

	<!--앞쪽은 데이터베이스 컬럼을 values에는 DTO에서 만든 것으로써야함. -->


	<insert id="register">insert into user_info
		(u_id,u_pwd,u_name,u_mail,u_postaddr,u_roadaddr,u_detailaddr,u_gen,u_tel,u_birth)values
		(#{UId},#{UPwd},#{UName},#{UMail},#{UPostAddr},#{URoadAddr},#{UDetailAddr},#{UGen},#{UTel},#{UBirth})
	</insert>

	<select id="idCheck" resultType="int" parameterType="String">SELECT
		COUNT(u_id) FROM user_info WHERE u_id= #{UId} </select>

	<select id="logChk" resultMap="user_info">select * from user_info where
		u_id=#{UId} </select>

	<update id="keepLogin"> update user_info set session_id=#{SessionId},
		limit_time=#{LimitTime} where u_id=#{UId} </update>

	<update id="userUpdate">update user_info set u_name=#{UName},
		u_mail=#{UMail},
		u_postaddr=#{UPostAddr},u_roadaddr=#{URoadAddr},u_detailaddr=#{UDetailAddr},u_gen=#{UGen},u_tel=#{UTel},u_birth=#{UBirth}
		where u_id=#{UId} </update>

	<delete id="userDelete">delete from user_info where u_id=#{UId} </delete>

</mapper>